header {
    padding: 0% 10%;
    max-height: 40%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.navegador {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 57px;
    gap: 27px;
}

header img{
    height: 40px;
    padding-bottom: 7px;
}