*{
    margin: 0;
}

body{
    background-image: url(/dias2/menuDesplegable/imagenes/bg.png);
    background-size: cover;
}

header{
    max-height: 200%;
    background-color: black;
    color: #fff;
}

a{
    text-decoration: none;
}