*{
    margin: 0;
    font-family: 'Lucida Sans Unicode', sans-serif;
}

body{
    background-image: url(/dias2/menuDesplegable/imagenes/bg.png);
    background-size: cover;
}

header{
    border: 0;
    color: #fff;
    max-height:40%;
    max-width: 100%;
    display: flex;
    align-items: center;
}

header:hover{ 
    background-color: black;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: #fff;
}
main{
    margin: 10% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
    font-size:x-large;
}

b{
    color:#ffbd59;
}

header .item {
    height: max-content;
}

header div.context.show {
    display: flex;
}

header div.context {
    position: absolute;
    display: none;
    flex-direction: column;
    background: #252525;
}

header a:hover div.context {
    display: block;
    position: fixed;
    top:50px;
}

header a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: larger;
    color: #f2f2f2;
    height: 30px;
    line-height: 30px;
}

header a:hover {
    background-color: gray;
}