.texto {
    margin: 5%;
    max-width: 40%;
}

img {
    max-width: 90%;
    max-height: 50%;

}

.logo {
    width: 90px;
    height: 90px;
}

.imagen {
    width: 95%;
    height: 70%;
}

.imagenm {
    width: 90%;
    height: 50%;
}

h2 {
    font-size: xx-large;
}

a {
    text-decoration: none;
}

span {
    color: #5f9ea0;
}

input {
    border: 0px;
    width: 98%;
}

input:focus {
    outline: none;
}

.asunto {
    background-color: #fbfbfb;
}

.descripcion {
    height: 30vh;
    background-color: #f7f7f7;
    overflow: hidden;
}

.B_enviar {
    width: 100%;
    background-color: #5f9ea0;
    border-radius: 5px;
    border: 2px solid #4b8385;
    color: #fff
}