* {
    background-color: #fff;
    color: #4f4f4f;
    font-family: sans-serif, 'Lucida Sans Unicode';
}

header {
    margin: 0% 1%;
    max-height: 40%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegador {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 57px;
    gap: 27px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}
#testimonios {
    margin-top: 30%;
}

.testimonio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botones{
    width: 27%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    color: #708090;
}

#contacto{
    background-color: #708090;
    border: 5px solid #708090;
    border-radius: 10%;
}

img{
    height: 200px;
    border-radius: 100%;
}

span{
    font-size: medium;
}

a {
    text-decoration: none;
}