#testimonios {
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.testimonio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}


.nombre{
    font-size: large;
}

img{
    height: 200px;
    border-radius: 100%;
}